/* Author: Ryan Murney */
/* Main CSS file for Catan Board Generator Application  */
body {
    background: antiquewhite;
}
#mainContent {
    max-width: 100%;
    max-height: 100vh;
    overflow-x: hidden;
    padding: 15px;
    background: transparent;
}
.mainHead {
    text-align: center;
    margin-bottom: 45px;
}
.mainFoot {
    text-align: center;
    margin-top: 45px;
}
.board-row {
    display: flex;
    justify-content: center;
}
.hex {
    position: relative;
    margin: -17.7px -22;
}
.hidden {
    display: none;
}
.tileDiv {
    width: 150px; 
    height: 150px;
    margin-right: 23px;
}
.tileNum {
    fill: beige;
    color: black;
}
.tile-text {
    font-size: x-large;
}