/* Author: Ryan Murney */
/* Main CSS file for Catan Board Generator Application  */
body {
    background: bisque;
}

#mainContent {
    max-width: 100%;
    max-height: 100vh;
    overflow-x: hidden;
    background: transparent;
    overflow: hidden;
}

.mainHead {
    text-align: center;
    margin-bottom: 25px;
}

.board {
    padding-left: 23px !important;
}

.mainFoot {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.board-row {
    display: flex;
    justify-content: center;
}

.hex {
    position: relative;
    margin: -17.7px -22;
}

.hidden {
    display: none;
}

.tileDiv {
    width: 150px; 
    height: 150px;
    margin-right: 23px;
}

.tileNum {
    fill: beige;
    color: black;
}

.tile-text {
    font-size: x-large;
    font-weight: bold;
}

.redNumber {
    fill: red;
}

#newBoardBtn {
    line-height: 85px;
    height: 85px;
    width: 250px;
    margin-bottom: 25px;
    border-radius: 30px;
    background: burlywood;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: xx-large;
    font-family: cursive;
    font-weight: bold;
}